<div class="card-container">
<% @cocktails.each do |cocktail| %>
<div class="card mb-3 w-90">
  <div class="row no-gutters">
      <div class = "card-image">
        <%= cl_image_tag(cocktail.photo.key, height: 50, width: 50, crop: :fill) %>
      </div>
      <div class="col d-flex align-items-center justify-content-around">
        <div class="card-body">
          <a href="<%= cocktail_path(cocktail) %>"><h5 class="card-title"><%= cocktail.name %></h5></a>
        </div>
        <div class="mr-4">
          <a href="<%= cocktail_path(cocktail) %>">
            <i class="fas fa-info-circle"></i>
          </a>
          <%= link_to favorites_cocktail_path(cocktail), method: :post, class: "#{cocktail.favorites ? 'fas fa-heart' : 'far fa-heart'}" do %>
            <i></i>
          <% end%>
          </a>
        </div>
      </div>
  </div>
</div>
<% end %>
</div>

