<h3><%= @cocktail.name %></h3>
<div class="form-box">
  <h5>Ingredients</h5>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> <%= dose.ingredient.name %><%= link_to "Delete", dose_path(dose.id), method: :delete, data: {confirm: "Are you sure?"}%></li>
    <% end %>
</ul>
</div>

<%= render 'doses/form' %>